html {background-color: white;}

body {
    background-color: red;
    width: 1400px;
    margin: auto;
}

.header, .content, .footer {width: 1400px;}
.header {height: 350px;}

#banner-photo {
    width: 200px;
    border-radius: 50%;
    position: relative;
    top: -325px; /* 100 image + 175 half-banner */
    left: 600px; /* 700 half-banner - 100 image */
}

#header-name {
    /* Dimensionate and center the header for name */
    width: 1400px;
    height: 100px;
    line-height: 100px;
    text-align: center;

    position: absolute;
    top: 235px;
    z-index: 10;

    /* Configure the text size, font and color */
    font-family: 'The Nautigal', cursive;
    font-size: 95px;
    color: white;
}

.content {
    background-color: blue;
}

.footer {
    background-color: green;
}
