/*--------------------------------------------------------------------------------
----- CONTENT : Generic content for every empty section
--------------------------------------------------------------------------------*/

/* Cancel horizontal positionning of navigation menu item links */
.content { clear: both; }

.content {
    width: 1400px; height: 640px; margin: auto; padding-top: 10px;
    text-align: center; font-family: 'Dongle', sans-serif; font-size: 30px;
    background: url("../images/space-background.jpg");
    /*display: none;*/
}

/*--------------------------------------------------------------------------------
----- RESPONSIVE : Responsive adjustments when screen is less wide then the banner size
--------------------------------------------------------------------------------*/
@media screen and (max-width: 1400px) {
    .content { width: 100%; height: 300px; margin: auto; }
}
